*
{
    padding: 2px;
    font-family: "Parkinsans", sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    border: 2px inset black;
}

main
{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    max-width: 90%;
}

header
{
    margin: 5px;
    padding: 5px;
}

nav
{
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    margin: 4px;
}

div
{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 30px 10px;
    background: white; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
    margin: 20px;
    flex-shrink: 1;
    text-align: center;
}

main img
{
    display: flex;
    justify-content: space-around;
    flex-shrink: 1;
}

aside
{
    display: flex;
}


footer
{
    justify-content: end;
    text-align: right;
    padding: 10px;
    border: 2px solid black;
    margin: 4px;
}